@charset "UTF-8";
/**
 * GLOBAL AND HTML RE-WRITES
 */
/**
 * CLEAR/RESET MOST ELEMENTS
 */
html, body, div, a, abbr, acronym, address, cite, code, dfn, iframe, img, q, span, strong, var,
ol, ul, li, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, thead, tfoot, tr, th, td,
article, aside, audio, details, embed, figure, footer, header, mark, menu, nav, output, section, summary, time, video,
blockquote, p, pre, h1, h2, h3, h4, h5, h6{
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	margin: 0;
	padding: 0;
	border: none;
	}
a{
	text-decoration: none;
	}
section, article, aside, footer, header, nav, hgroup {
	display:block;
	}
del {
	text-decoration:line-through;
	}
::-moz-selection{
	background: rgba(162, 29, 33, 1.0);
	color: #000;
	text-shadow: none;
	}
::selection{
	background: rgba(162, 29, 33, 1.0);
	color: #000;
	text-shadow: none;
	}
.clear{
	height: 0;
	width: 0;
	clear: both;
	}
.clear.left{
	clear: none;
	clear: left;
	}
.clear.right{
	clear: none;
	clear: right;
	}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	}
.hide{
	display: none;
	visibility: hidden;
	}
.invisible{
	visibility: hidden;
	}
table {
	border-spacing: 0;
	border-collapse: collapse;
	}
.float.left{
	float: left;
	}
.float.right{
	float: right;
	}
html { -webkit-text-size-adjust: none;
	}
body {
	font-size: 16px;
	background: #FFFFFF;
	line-height: 1;
	font: 0.8125em "Verdana, Lucida Grande", Verdana, sans-serif;
	line-height: normal;
	color: #333333;
	font-size: 1em;
	position: relative;
	
	}
body.home {
	background-color: rgba(247, 247, 247, 1.0);
	}
select {
	color: #fff;
	color: rgba(255,255,255,.85);
	background: #df4747;
	}
::-moz-selection {
	color: #fff;
	/*
	background: #df4747;
	*/
	color: rgba(255,255,255,.85);
	background: rgba(162, 29, 33, 1.0);
	}
::selection {
	color: #fff;
	/*
	background: #df4747;
	*/
	color: rgba(255,255,255,.85);
	background: rgba(162, 29, 33, 1.0);
	}
.spacer{
	height: 1em;
	}
.spacer.two{
	height: 2em;
	}
.spacer.four{
	height: 4em;
	}
.spacer.ten{
	height: 10em;
	}
.pos-rel{
	position: relative;
	}
img,object,embed {
	max-width:100%;
	}
hr{
	height: 12px;
	width: 100%;
	overflow: visible;
	background: url(../images/content-section-spacer.png);
	background-position: top center;
	background-repeat: no-repeat;
	border: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail hr{
	background: url(../images/right_rail_horiz_hr.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 25px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content img{
	max-width: 99%;
	}
img{
	-ms-interpolation-mode:bicubic;
	}
div.border,
img.border{
	border: solid 4px #FFF;
	-moz-box-shadow: 0 0 5px 2px #CECECE;
	-webkit-box-shadow: 0 0 5px 2px #CECECE;
	box-shadow: 0 0 5px 1px #CECECE;
	}
div.float-right,
img.float-right{
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
	}
div.float-left,
img.float-left{
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	}
div.float-left img,
div.float-right img{
	float: none;
	margin: auto;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	}
code{
	font-size: 1.35em;
	color: #888;
	}
a{
	color: #990000;
	cursor: pointer;
	text-decoration: none;
	}
a:hover{
	text-decoration: underline;
	text-decoration: none;
	}
span.link_arrow{
	font-size: 1.3em;
	}

/**
 *  BUTTONS
 */
.button {
	display: inline-block;
	position: relative;
	padding: 11px 40px 9px 10px;
	font-size: 0.875em;
	font-family: "GothamLight", "GothamLight", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(255,255,255,1.0);
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;	
	background:  rgba(97,176,151,.77);	
	background: rgba(100,100,100,0.70);
	}
.button:after {
	content: "";
	display: block;
	height: 100%;
	width: 30px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(110, 110, 110, 1.0);
	background-image: url(../images/btn_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	}
.button:hover {
	background-color: #61b097;
	background-color: rgba(97,176,151,1);
	background: rgba(110, 110, 110, 1.0);
	text-decoration: none;
	color: rgba(255,255,255,1.0);
	}
/***  END BUTTONS ***/
.textfield,
.form-text,
textarea.textfield,
textarea.form-text{
	color: rgb(171, 71, 59);
	color: #666;
	border: solid 1px #bfbfbf;
	padding: 4px;
	font-size: 1.1em;
	min-width: 250px;
	background-color: #FAFAFA;
	/* --- For transition --- */
	-moz-transition: all 0.20s ease-in-out;
	-webkit-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	}
textarea.textfield,
textarea.form-text{
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 1.1em;
	}
.form-select{
	border: solid 1px #bfbfbf;
	padding: 4px;
	font-size: 1.1em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content a.moreinfo,
#content-outer-wrapper #content-inner-wrapper #content-block #content p a.moreinfo
{
	color: #7a7979;
	background: none;
	background-color: #F3F3F3;
	background-image: url(../images/moreinfo_arrow.svg);
	background-repeat:  no-repeat;
	background-position: 98% 50%;
	border: solid 1px #DCDCDC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-family: "Gotham", "Arial", "Helvetica", sans-serif;
	text-decoration: none;
	text-shadow: none;
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	position: relative;
	line-height: 1.15em;
	padding: 7px 25px 5px 10px;
	/* --- For transition --- */
	-moz-transition: all 0.20s ease-in-out;
	-webkit-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content a.moreinfo.noarrow,
#content-outer-wrapper #content-inner-wrapper #content-block #content p a.moreinfo.noarrow{
	padding: 7px 15px 5px 15px;
	background-image: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content a.moreinfo:hover,
#content-outer-wrapper #content-inner-wrapper #content-block #content p a.moreinfo:hover{
	text-decoration: none;
	color: #444;
	border: solid 1px #999;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	}
/***/
.textfield:focus,
.form-text:focus{
	border: solid 1px #1c62b9;
	background-color: #FFFFFF;
	color: #174987;
	box-shadow: rgba(0, 0, 0, 0.40) 0px 0 3px 0px;
	text-decoration: none;
	text-shadow: none;
	/* --- For transition --- */
	-moz-transition: all 0.20s ease-in-out;
	-webkit-transition: all 0.20s ease-in-out;
	-o-transition: all 0.20s ease-in-out;
	-ms-transition: all 0.20s ease-in-out;
	transition: all 0.20s ease-in-out;
	outline: none;
	}
span.check{
	color: #70a500;
	font-size: 1.4em;	
	}
/*
a:active, a:focus{
	outline: none;
	}
*/
.spacer{
	height: 1em;
	}
.spacer.two{
	height: 2em;
	}
.spacer.four{
	height: 4em;
	}
.spacer.ten{
	height: 10em;
	}
.clear{
	clear: both;
	}
header{
	height: 100px;
	height: 120px;
	width: auto;
	margin: 0 auto;
	border-top: solid 5px rgba(162, 29, 33, 1.0);
	border-bottom: solid 1px #D9D9D9;
	background: url(../images/header-bg.png) no-repeat center center;
	position: relative;
	/*  z-index: 1000;  */
	}
header #header-content{
	width: 972px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	}
header #header-content h1{
	display: block;
	width: 200px;
	height: auto;
	position: absolute;
	top: 22px;
	top: 18px;
	left: 0;
	}
header #header-content h1 a{
	display: block;
	width: auto;
	height: 53px;
	background: url(../images/kuali-logo.png) no-repeat top left;
	background-size: 85% auto;
	}
header #header-content h1 a span{
	display: none;
	}
header #tagline{
	width: 315px;
	height: 25px;
	position: absolute;
	left: -4px;
	top: 80px;
	background-image: url(../images/kuali-tagline.png);
	background-position: top left;
	background-repeat: no-repeat;
	}
header #tagline span{
	display: none;
	}
header #header-content nav{
	position: absolute;
	right: 0;
	top: 65px;
	top: 80px;
	}
header #header-content nav ul{
	list-style: none;
	list-style-type: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: rgba(0,0,0,1.0);
	margin: 0;
	padding: 0;
	}
header #header-content nav ul li{
	list-style: none;
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;	
	position: relative;
	}
header #header-content nav ul li a{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 1.0em;
	color: rgba(0,0,0,1.0);
	letter-spacing: 0.04em;
	padding: 10px 15px 10px 15px;
	position: relative;
	z-index: 15;
	}
header #header-content nav ul li:nth-last-child(1) a{
	padding-right: 15px;
	padding-right: 0;
	}
header #header-content nav ul li.red a{
	color: rgba(163, 28, 37, 1.0);
	}
header #header-content nav ul li a:hover,
header #header-content nav ul li:hover a{
	color: rgba(162, 29, 33, 1.0);
	color: #990000;
	}
header #header-content nav ul li:nth-last-child(1):hover a{
	/* padding-right: 10px; */
	}
header #header-content nav ul li.expanded ul.menu{
	display: block;
	list-style: none;
	list-style-type: none;
	width: auto;
	min-width: 275px;
	margin: 0;
	padding: 14px 0 0 0;
	background-color: rgba(243, 243, 244, 1.0);
	background-image: url(../images/nav_arrow.png);
	background-repeat: no-repeat;
	background-position: 65% 0;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: -10;
	opacity: 0;
	-moz-transition: opacity 0.25s ease-in-out, z-index 0.45s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out, z-index 0.45s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out, z-index 0.45s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out, z-index 0.45s ease-in-out;
	transition: opacity 0.25s ease-in-out, z-index 0.45s ease-in-out;
	}
header #header-content nav ul li.expanded#products ul.menu{
	min-width: 350px;
	background-position: 76% 0;
	}
header #header-content nav ul li.expanded#products ul.menu{
	min-width: 350px;
	background-position: 76% 0;
	}
header #header-content nav ul li.expanded.right ul.menu{
	left: auto;
	right: -100px;
	background-position: 51% 0;
	}
header #header-content nav ul li.expanded:nth-last-child(1) ul.menu{
	left: auto;
	right: 0;
	background-position: 34% 0;
	}
header #header-content nav ul li.expanded:nth-last-child(2) ul.menu{
	left: auto;
	right: -4px;
	right: -100px;
	background-position: 51.5% 0;
	}
header #header-content nav ul li.expanded:hover ul.menu{
	z-index: 50;
	opacity: 1.0;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	}
header #header-content nav ul li.expanded ul.menu li{
	display: list-item;
	margin: 0;
	padding: 0;
	border-right: solid 1px rgba(203, 203, 198, 1.0);
	border-left: solid 1px rgba(203, 203, 198, 1.0);	
	}
header #header-content nav ul li.expanded ul.menu li:nth-last-child(1){
	border-bottom: solid 1px rgba(203, 203, 198, 1.0);
	}
header #header-content nav ul li.expanded ul.menu li a{
	color: rgba(0,0,0,1.0);
	border: none;
	display: block;
	box-shadow: none;
	font-size: 0.9em;
	border-bottom: solid 1px rgba(224, 224, 226, 1.0);
	}
header #header-content nav ul li.expanded ul.menu li a:hover{
	background-color: rgba(250, 250, 250, 1.0);
	}
header #search{
	width: 300px;
	width: 600px;
	position: absolute;
	right: 0;
	top: 8px;
	top: 15px;
	text-align: right;
	}
header #search ul#search-options{
	list-style: none;
	list-style-type: none;
	position: absolute;
	right: 250px;
	top: 2px;
	min-width: 200px;
	display: inline-block;	
	}
header #search ul#search-options li{
	display: inline;
	margin: 0 0 0 0.6em;
	}
header #search ul#search-options li label{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: rgba(100, 100, 100, 1.0);
	font-size: 0.9em;
	font-size: 0.75em;
	display: inline;
	}
header #search ul#search-options li input[type="radio"]{
	margin: 0;
	padding: 0;
	}
header #header-content #search #search-field,
header #header-content #search input[type="text"].textfield
{
	border: solid 1px rgba(202, 202, 202, 1.0);
	border: none;
	font-size: 0.875em;
	letter-spacing: 0.06em;	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	min-width: 0;
	width: 205px;
	max-width: 205px !important;
	color: rgba(0,0,0,0.25);
	padding: 4px 0 4px 32px;
	transition: all 0.2s ease;
	background-image: url('../images/search-field-icon.png');
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-size: 15px 17px;
	background-color: #eaeaea;
	background-color: -moz-linear-gradient(top,  #efefef 0%, #eaeaea 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#eaeaea));
	background-color: -webkit-linear-gradient(top,  #efefef 0%,#eaeaea 100%);
	background-color: -o-linear-gradient(top,  #efefef 0%,#eaeaea 100%);
	background-color: -ms-linear-gradient(top,  #efefef 0%,#eaeaea 100%);
	background-color: linear-gradient(to bottom,  #efefef 0%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#eaeaea',GradientType=0 );
	}
header #header-content #search input[type="text"].textfield:focus{
	outline: none;
	font-weight: 200;
	color: rgba(0,0,0,0.85);
	background-color: #f4f4f4;
	transition: all 0.2s ease;
	box-shadow: none;
	box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
	}
header #header-content #search #edit-submit,
header #header-content #search input[type="submit"]{
	display: none;
	}
/* *** */
/**
 * MAIN CONTENT BLOCKS
 */
#content-outer-wrapper{
	width: auto;
	min-width: 980px;
	background: #FFF;
	position: relative;
	}
#content-outer-wrapper #content-inner-wrapper{
	margin: 0 auto;
	padding: 0;
	width: 970px;
	background: #FFF;
	position: relative;
	z-index:  10;
	/* for breadcrumb */
	font-size: 0.82em;
	line-height: 1.75em;
	}
/**
 * LEFT-HAND NAVIGATION
 */
/* Main/top tier */
#content-outer-wrapper #content-inner-wrapper #left-subnav{
	position: absolute;
	left: 0;
	padding-right: 20px;
	width: 200px;
	padding: 0;
	margin: 0;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul{
	padding: 20px 0 0 0;
	margin: 0;
	background-image: url('../images/left-nav-bg.gif');
	background-repeat: repeat-y;
	color: #454545;
	font-size: 1.10em;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li{
	line-height: 30px;
	line-height: normal;
	margin: 0;
	padding: 0;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	background-image: url('../images/left-nav-standard.gif');
	background-repeat: repeat-y;
	background-position: top right;
	list-style: none;
	list-style-type: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li a{
	padding: 0.55em 0 0.65em 20px;
	text-decoration: none;
	display: block;
	color: #777;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li a:hover{
	text-decoration: none;
	color: #7d110c;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li a:focus{
	outline: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active.expanded a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active:hover a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded a.active
{
	padding: 0.55em 0 0.65em 20px;
	color: #FFF;
	position: relative;
	display: block;	
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, rgba(143, 29, 5, 1.0);
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(152,35,0,1) 3%, rgba(126,17,12,1) 62%, rgba(125,17,12,1) 100%); /* FF3.6+ */
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(3%,rgba(152,35,0,1)), color-stop(62%,rgba(126,17,12,1)), color-stop(100%,rgba(125,17,12,1))); /* Chrome,Safari4+ */
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(152,35,0,1) 3%,rgba(126,17,12,1) 62%,rgba(125,17,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(152,35,0,1) 3%,rgba(126,17,12,1) 62%,rgba(125,17,12,1) 100%); /* Opera 11.10+ */
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(152,35,0,1) 3%,rgba(126,17,12,1) 62%,rgba(125,17,12,1) 100%); /* IE10+ */
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(152,35,0,1) 3%,rgba(126,17,12,1) 62%,rgba(125,17,12,1) 100%); /* W3C */
	background-position: 101% 50%;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li a:hover{
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	background: url(../images/left-subnav-arrow.svg) right center no-repeat, rgba(236, 236, 236, 1.0);
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active a{
	color: white;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active a:hover{
	text-decoration: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav #left-subnav-lower{
	background-image: url('../images/left-nav-lower.gif');
	background-repeat: no-repeat;
	background-position: top right;
	height: 252px;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded a{
	color: #FFF;
	}
/* Second tier */
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul{
	font-size: 0.80em;
	padding: 0;
	margin: 0 0 0 1em;
	background: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li{
	border-left: solid 1px #e7e7e7;
	border-left: solid 1px #e0e0e0;
	margin: 0;
	padding: 0;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active{
	background-image: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li ul li.active-trail.expanded{
	background-image: url('../images/left-nav-standard.gif');
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li ul li.active-trail.expanded a.active-trail{
	background-color: #efefef;
	color: #222;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li a.active-trail,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li a.active{
	color: #7d110c;
	line-height: normal;
	margin: 0 15px 0 0;
	padding: 0.85em 1.5em 0.85em 1.5em;
	display: block;
	background: none;
	background-image: none;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active a,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active a.active{
	background-image: none;
	background-color: #efefef;
	color: #222;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li:hover{
	background: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li a:hover{
	text-decoration: underline;
	background: none;
	background-color: #efefef;
	color: #222;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.last a{
	border-bottom: solid 1px #e7e7e7;
	border-bottom: solid 1px #e0e0e0;
	}
/* Third tier */
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active-trail.expanded{
	background: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active-trail.expanded a{
	background-color: #eaeaea;
	color: #222;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active-trail.expanded ul{
	font-size: 0.9em;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active-trail.expanded ul li a{
	background: none;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.active-trail.expanded ul li.active-trail.expanded ul li.active a{
	background: none;
	background-color: #cacaca;
	}
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li ul li.active-trail.expanded.active.last,
#content-outer-wrapper #content-inner-wrapper #left-subnav ul li.expanded.active-trail ul li.last.expanded.active-trail{
	background-image: url('../images/left-nav-li-border-bottom.gif');
	background-position: bottom left;
	background-repeat: no-repeat;
	}
/**
 * CONTENT LAYOUT
 */
/**
 * Breadcrumb
 */
#content-outer-wrapper #content-inner-wrapper #breadcrumb{
	width: 100%;
	width: 972px;
	height: auto;
	font-family: "BentonSansRegular", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #CCC;
	position: relative;
	z-index: 2000;
	font-weight: 200;
	font-size: 1.1em;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul{
	padding: 1em 0 0.85em 0;
	margin: 0;
	list-style: none;
	list-style-type: none;
	padding: 0.5em 0 0.5em 0;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li{
	padding: 0;
	margin: 0;
	display: inline;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li a{
	padding: 0;
	margin: 0;
	display: inline;
	color: #999;
	border-bottom: solid 1px transparent;
	transition: 0.25s all ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li a:hover,
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li.breadcrumb-last a:hover{
	text-decoration: none;
	border-bottom: solid 1px;
	color: #222;
	transition: 0.25s all ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li:before {
	font-size: 1.6em;
	padding: 0 10px 18px 10px;
	color: #999;
	content: "\00BB";
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li.breadcrumb-last a{
	color: #990000;
	
	color: #999;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li.breadcrumb-1:before {
	content: "";
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li.breadcrumb-1:before,
#content-outer-wrapper #content-inner-wrapper #breadcrumb ul li.first:before{
	padding: 18px 7px 18px 0;
	margin: 0;
	padding: 0;
	content: "";
	}
/**
 * Drupal Tabs
 */
#content-outer-wrapper #content-inner-wrapper #content #tabs_wrapper{
	position: relative;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper{
	position: absolute;
	top: 2px;
	right: 0;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper h2{
	display: none;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper ul{
	display: inline;
	margin: 0;
	padding: 0;
	height: auto;
	border: none;
	}
#content-outer-wrapper #content-inner-wrapper #content #tabs_wrapper ul{
	border-bottom: solid 1px #c1c1c1;
	margin: 0;
	padding: 0 0 5px 0;
	height: auto;
	}
#content-outer-wrapper #content-inner-wrapper #content #tabs_wrapper ul li,
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper ul li{
	border: none;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper ul li:before{
	margin: 0;
	padding: 0;
	content: "";
	}
#content-outer-wrapper #content-inner-wrapper #content #tabs_wrapper ul li a,
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper ul li a{
	padding: 3px 12px 3px 12px;
	display: inline-block;
	font-size: 0.9em;
	border: none;
	border: solid 1px transparent;
	background: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	-moz-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	-webkit-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	-o-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	-ms-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #content #tabs_wrapper ul li a{
	padding: 0 12px 0 12px;
	font-size: 1em;
	}
#content-outer-wrapper #content-inner-wrapper #content #tabs_wrapper ul li a:hover,
#content-outer-wrapper #content-inner-wrapper #breadcrumb #tabs_wrapper ul li a:hover{
	border: solid 1px #dadada;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	background-color: #efefef;
	-moz-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	-webkit-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	-o-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	-ms-transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	transition: box-shadow 0.35s ease-in-out, color 0.35s ease-in-out, background 0.35s ease-in-out, border 0.35s ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #title-block{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1800;
	margin: 18px 0 10px 0;
	margin: 12px 0 0 0;
	padding: 0;
	
	
	margin: 0;
	
	
	}
#content-outer-wrapper #content-inner-wrapper #title-block{
	width: 100%;
	display: block;
	height: auto;
	}
#content-outer-wrapper #content-inner-wrapper #content-block{
/* frame */
	width: 100%;
	position: relative;
	top: 0;
	margin: 0 1em 0 1em;
	padding: 0 0 2em 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block.right-rail-present-outer{
/* Prints default values for left-nav not present */
	background: url(../images/right_rail_bg_repeat.gif);
	background-repeat: repeat-y;
	background-position: 499px 600px;
	background-position: 712px 600px;
	margin: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block.left-subnav{
/* Resizes the frame when left-nav exists */
	width: 78%;
	float: left;
	position: relative;
	left: 200px;
	min-height: 630px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content{
/* Actual content container */
	position: relative;
	padding-top: 1em;
	padding-right: 2em;
	}
/* Full page content */
#content-outer-wrapper #content-inner-wrapper #content-block.full-page,
#content-outer-wrapper #content-inner-wrapper #content-block #content.full-page{
	padding-right: 0;
	margin: 0;
	}
/**
 *  RIGHT-RAIL ONLY
 */
#content-outer-wrapper #content-inner-wrapper #content-block.right-rail-present-outer{
	float: left;
	position: relative;
	left: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block.right-rail-present-outer #content.right-rail-present-inner{
	width: 69%;
	top: 0;
	left: 0;
	margin: 1em 0 0 1em;
	padding: 0;
	padding-right: 1em;
	}
/**
 *  BOTH LEFT-NAV AND RIGHT-RAIL ARE PRESENT
 */
#content-outer-wrapper #content-inner-wrapper #content-block.left-subnav.right-rail-present-outer{
	width: 78%;
	float: left;
	position: relative;
	left: 200px;
	background-position: 499px 600px;
	margin: 0 1em 0 1em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block.left-subnav.right-rail-present-outer #content.right-rail-present-inner{
	width: 62%;
	margin: 0;
	}
/**
 * RIGHT-RAIL
 */
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail{
	position: absolute;
	top: 1em;
	top: 0;
	right: 0;
	width: 34%;
	width: 228px;
	min-height: 500px;
	background: url(../images/right_rail_bg_large.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 1.25em 15px 0 15px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail div.right-rail-content{
	height: 300px;
	width: 100%;
	display: block;
	color: #666;
	}
#content-outer-wrapper #content-inner-wrapper #content-block ul.right-rail-buttons{
	margin: 0 auto;
	}
#content-outer-wrapper #content-inner-wrapper #content-block ul.right-rail-buttons,
#content-outer-wrapper #content-inner-wrapper #content-block ul.right-rail-buttons li{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block ul.right-rail-buttons li a{
	display: block;
	margin: 0 auto;
	border: solid 4px #efefef;
	-moz-box-shadow: 0 0 4px 2px #999;
	-webkit-box-shadow: 0 0 4px 2px #999;
	box-shadow: 0 0 4px 1px #999;
	width: 220px;
	height: 119px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block ul.right-rail-buttons li{
	margin: 2em 0 2em 0;
	}
#content-outer-wrapper #content-inner-wrapper #right-rail-news-wrapper{
	width: 270px;
	height: 500px;
	border: solid 1px blue;
	position: absolute;
	top: 0;
	right: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons{
	margin: 1em 0 1em 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul{
	position: relative;
	top: -1.25em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul,
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li{
	display: block;
	margin: 1em 0 1em 0;
	font-size: 1.2em;
	color: #7e8993;
	background: none;
	background-origin: border-box;
	padding: 9px;
	padding: 8px 6px 8px 45px;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: solid transparent 3px;
	/* --- For transition --- */
	-moz-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	-webkit-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	-o-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	-ms-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li:hover{
	border: solid 3px #bec2cf;
	padding: 8px 6px 8px 45px;
	padding: 6px;
	background: #FFF;
	background-origin: border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	/* --- For transition --- */
	-moz-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	-webkit-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	-o-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	-ms-transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	transition: border 0.35s ease-in-out, background 0.35s ease-in-out;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li a{
	color: #7e8993;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li a:hover{
	text-decoration: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li.first{
	margin-top: 1em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li.last{
	margin-bottom: 1em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li span.text{
	padding-left: 0.5em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li a span.text{
	padding-left: 35px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li.subscribe_rss{
	padding: 8px 6px 8px 45px;
	background-image: url('../images/rss_32.png');
	background-repeat: no-repeat;
	background-position: 7px 50%;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #right-rail .right_rail_share_buttons ul li.subscribe_rss span.text{
	padding: 0;
	}
/**
 * TABLE STYLES
 */
#content-outer-wrapper #content-inner-wrapper table.table,
#content-outer-wrapper #content-inner-wrapper table.table th,
#content-outer-wrapper #content-inner-wrapper table.table td,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table th,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td{
	border: 1px solid #999999;
	border-collapse: collapse;
	color: #222;
	border-spacing: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table{
	font-size: 1em;
	width: 100%;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.odd,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.odd td{
	background: #FFF;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.even,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.even td{
	background: #eeeeee;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table th{
	background: #E9E9E9;	
	font-size: 1em;
	text-align: left;
	padding: 0 0 0 0.60em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.th-right th{
	text-align: right;
	padding: 0 0.60em 0 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td{
	padding: 0.75em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.row-spaced td{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td.sm,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td .sm{
	font-size: 0.90em;
	text-align: left;
	}
/**
 * SPECIFIC TABLE STYLES
 */
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td.center{
	text-align: center;
	width: 12%;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td.kca{
	width: 150px;
	max-width: 200px;
	vertical-align: top;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table img.logo{
	width: 90%;
	max-width: 180px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.equal{
	table-layout: fixed;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.noborder,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.noborder tr,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.noborder tr td,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.noborder td,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td.noborder,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table th.noborder
{
	border: none !important;
	}
{
	border: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table .nomargin,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td.nomargin,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.nomargin{
	margin: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table .nopadding,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table td.nopadding,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr.nopadding{
	padding: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.board_directors td,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table.board_directors tr td{
	border-bottom: solid 1px #cfcfcf;
	padding: 1.6em 0 1.6em 0;
	vertical-align: top;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.table tr td.grey{
	background-color: rgba(219, 218, 227, 1.0);
	}
/**
 * FOOTER
 */
#footer-outer-wrapper{
	width: auto;
	min-width: 980px;
	padding: 1em 0 50px 0;
	background: #730005;
	background-image: url(../images/footer-top-bg.jpg);
	background-repeat: repeat-x;
	background-position: 50% 0;
	position: relative;
	color: #FFF;
	}
#footer-outer-wrapper #footer-spacer{
	width: auto;
	height: 4em;
	}
#footer-outer-wrapper #footer-inner-wrapper{
	margin: 0 auto;
	height: auto;
	box-shadow: rgba(80, 0, 4, 0.70) 0px 8px 10px 0px;
	padding-top: 1.15em;
	padding-bottom: 5px;
	position: relative;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content{
	margin: 0 auto;
	width: 970px;
	height: auto;
	position: relative;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact{
	width: 220px;
	height: auto;
	top: 0.75em;
	position: relative;
	display: block;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #footer-logo a{
	width: 140px;
	height: 38px;
	margin: 0 0 0.75em 0;
	background: url(../images/kuali-logo-footer.png);
	background-repeat: no-repeat;
	background-position: top;
	display: block;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #footer-logo a span.title{
	display: none;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #footer-logo a span.logo{
	width: 140px;
	height: 38px;
	margin: 0 0 0.75em 0;
	background: url(../images/kuali-logo-footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	display: block;
	opacity: 0;
	-moz-transition: opacity 0.15s ease-in-out;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	-ms-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #footer-logo a:hover span.logo{
	opacity: 1;
	-moz-transition: opacity 0.15s ease-in-out;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	-ms-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #foundation-info{
	font-weight: normal;
	text-decoration: none;
	color: #c9ac9a;
	font-family: "Calibri", "Trebuchet MS", arial, sans-serif;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	line-height: 2em;
	font-size: 0.75em;
	font-weight: normal;
	border-top: solid 1px #92575a;
	padding: 1em 0 0 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect{
	margin: 1em 0 3em 0;
	padding: 1.2em 0 0 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul,
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li{
	list-style: none;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0;
	position: relative;
	z-index: 5;
	}	
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul{
	margin: 1.6em 0 0 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li{
	float: left;
	margin: 0 1.2em 0 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li span{
	display: none;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li a{
	background-position: bottom center;
	display: block;
	width: 45px;
	height: 45px;
	padding: 0;
	border: none;
	top: 0;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 45px;
	height: 45px;
	background-image: url(../images/footer_socialnetwork.jpg);
	background-size: 45px;
	background-repeat: no-repeat;	
	-moz-transition: top 0.4s ease-in-out;
	-webkit-transition: top 0.4s ease-in-out;
	-o-transition: top 0.4s ease-in-out;
	-ms-transition: top 0.4s ease-in-out;
	transition: top 0.4s ease-in-out;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li#facebook a{
	background-position: 0 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li#twitter a{
	background-position: 0,200px;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li#youtube a{
	background-position: bottom left;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #social-network-connect ul li a:hover{
	top: -12px;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #pocket-back{
	width: 210px;
	height: 35px;
	background: url(../images/footer_pocket_gradient.png), #730005;
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	left: -20px;
	bottom: -5px;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #pocket-front{
	width: 200px;
	width: 191px;
	height: 15px;
	background-color: #730005;
	border-top: solid 1px rgba(97, 0, 11, 1.0);
	position: absolute;
	left: -10px;
	bottom: 0;
	z-index: 10;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #foundation-info ul,
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #foundation-info ul li{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-contact #foundation-info ul li{
	border-bottom: dotted 1px #775a49;
	padding: 0.35em 0 0.35em 0;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu{
	width: 600px;
	float: right;
	top: 0;
	padding: 0 0 0 75px;
	border-left: solid 1px #92575A;
	width: 100%;
	max-width: 600px;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	font-family: "Calibri", "Trebuchet MS", arial, sans-serif;
	font-size: 0.95em;
	width: 100%;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 25%;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #FFF;
	font-family: "Calibri", "Trebuchet MS", arial, sans-serif;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: normal;
	display: block;
	text-shadow: 0 0 4px #000;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li a:hover{
	/*text-decoration: underline;*/
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li ul{
	width: 100%;
	display: block;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li ul,
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li ul li{
	width: 100%;
	float: none;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li ul li a{
	color: #ab8d7b;
	font-size: 0.75em;
	display: block;
	padding: 0.95em 1em 0.95em 0;
	text-shadow: none;
	-moz-transition: all 0.18s ease-in-out;
	-webkit-transition: all 0.18s ease-in-out;
	-o-transition: all 0.18s ease-in-out;
	-ms-transition: all 0.18s ease-in-out;
	transition: all 0.18s ease-in-out;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content #footer-menu ul li ul li a:hover{
	color: #dec2b1;
	text-shadow: 0 0 4px #000;
	-moz-transition: all 0.18s ease-in-out;
	-webkit-transition: all 0.18s ease-in-out;
	-o-transition: all 0.18s ease-in-out;
	-ms-transition: all 0.18s ease-in-out;
	transition: all 0.18s ease-in-out;
	}
#footer-outer-wrapper #copyright-wrapper{
	margin: 0 auto;
	height: auto;
	padding: 0;
	width: 980px;
	margin-top: 25px;
	}
#footer-outer-wrapper #copyright-wrapper #copyright p{
	margin: 0;
	padding: 0;
	display: inline-block;
	}
#footer-outer-wrapper #footer-inner-wrapper #footer-content .footer-login,
#footer-outer-wrapper #footer-inner-wrapper #footer-content .footer-logout,
#footer-outer-wrapper #copyright-wrapper #copyright	span.privacy-policy{
	display: inline-block;
	}
#content-outer-wrapper #content-inner-wrapper #content-block .message-box{
	min-height: 60px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block .message-box .messages{
	display: block;
	padding: 10px 0 10px 36px;
	border: solid 5px #F0C01F;
	color: #000;
	background-color: #FFFFDD;
	width: 95%;
	margin: 5px 0 15px 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-position: 0px 42%;
	background-repeat: no-repeat;
	background-image: url(../images/message_alert.gif);
	}
#content-outer-wrapper #content-inner-wrapper #content-block .message-box .messages.warning{
	margin: 5px 0 10px 0;
	background-image: url(../images/message_alert.gif);
	}
#content-outer-wrapper #content-inner-wrapper #content-block .message-box .messages.error{
	border-color: #990000;
	background-color: #FFEBE8;
	margin: 5px 0 10px 0;
	background-image: url(../images/message_error.gif);
	}
#content-outer-wrapper #content-inner-wrapper #content-block .message-box .messages.status{
	background-color: #e5ffd5;
	background-color: #EBF7D1;
	border-color: #466731;
	border-color: #90CB00;
	margin: 5px 0 10px 0;
	background-image: url(../images/message_success.gif);
	}
/**
 * TEMPORARY WITH NO NAV SUB-MENUS
 */
#header-wrapper #header-content #nav ul li:hover div.tier-2-nav ul li a,
#header-wrapper #header-content #nav ul li#join:hover div.tier-2-nav ul li a,
#header-wrapper #header-content #nav ul li:hover div.tier-2-nav ul li a:hover,
#header-wrapper #header-content #nav ul li:hover div.tier-2-nav ul li:hover a{
	background-image: none;
	}