.content{
	width: 972px;
	margin: 0 auto;
	position: relative;
	}
section#banner-home{
	width: auto;
	width: 100%;
	height: 400px;
	overflow: visible;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	/*
	background: url(../images/banners/home-1.jpg) no-repeat top center;
	background-size: cover;
	*/
	}
section#banner-home .banner-home-img{
	margin: 0 auto;
	width: 100%;
	width: auto;
	min-width: 972px;
	min-height: 402px;
	
	}
section#banner-home .heading{
	width: 972px;
	margin: 0 auto;
	position: absolute;
	top: 230px;
	top: 170px;
	vertical-align: bottom;
	height: auto;
	}
section#banner-home .heading h4{
	width: 600px;
	font-family: 'Helvetica Neue', "BentonSansRegular", Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
	font-size: 4em;
	color: rgba(255,255,255,1.0);
	font-style: normal;
	}
section#banner-home .heading .button{
	margin: 1em 0 0 0;
	font-size: 1.2em;
	background: rgba(0,0,0,0.4);
	}
section#banner-home .heading .button:after{
	background-color: rgba(0,0,0,0.25);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	}
section#banner-home .heading .button:hover:after{
	background-color: rgba(0,0,0,0);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	}
section#banner-home .heading .button:hover{
	background-color: rgba(0,0,0,0.65);
	}


/**
 *  HOME PAGE CONTENT
 */
#home-content-outer-wrapper{
	position: relative;
	}
#home-content-outer-wrapper #home-ribbon{
	width: auto;
	background: #7d110c;
	height: 200px;
	background: #7d110c;
	background: -moz-linear-gradient(top,  #7d110c 0%, #540805 6%, #7d110c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d110c), color-stop(6%,#540805), color-stop(100%,#7d110c));
	background: -webkit-linear-gradient(top,  #7d110c 0%,#540805 6%,#7d110c 100%);
	background: -o-linear-gradient(top,  #7d110c 0%,#540805 6%,#7d110c 100%);
	background: -ms-linear-gradient(top,  #7d110c 0%,#540805 6%,#7d110c 100%);
	background: linear-gradient(to bottom,  #7d110c 0%,#540805 6%,#7d110c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d110c', endColorstr='#7d110c',GradientType=0 );
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature{
	list-style: none;
	list-style-type: none;
	width: 603px;
	margin: 0;
	padding: 0;
	position: relative;
	top: 1.5em;
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li{
	display: block;
	max-height: 200px;
	width: 45%;
	width: 36%;
	margin: 0 4% 0 0;
	padding: 0 0 0 70px;
	float: left;
	position: relative;
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li .icon{
	width: 52px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/ribbon_icons.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;	
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li.test-drive .icon{
	background-position: 0 -57px;
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li:nth-last-child(1){
	margin-right: 0;
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li h3{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: rgba(255, 255, 255, 1.0);
	font-size: 2.1em;
	letter-spacing: 0.06em;
	margin: 0 0 0.25em 0;
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li p{
	font-size: 1.2em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	letter-spacing: 0.08em;
	color: rgba(255, 255, 255, 1.0);
	line-height: 1.3em;
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li .button{
	margin: 1em 0 0 0;
	background-color: rgba(140, 58, 43, 1.0);
	}
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li .button:hover,
#home-content-outer-wrapper #home-ribbon ul#ribbon-feature li .button:after{
	background-color: rgba(165, 79, 64, 1.0);
	}
#home-content-inner-wrapper{
	width: auto;
	background-color: rgba(239, 239, 239, 1.0);
	border-top: solid 1px rgba(209, 209, 210, 1.0);
	border-bottom: solid 1px rgba(209, 209, 210, 1.0);
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	position: relative;
	}
#home-content-inner-wrapper:before {
	content: " ";
	position: absolute;
	width: 100%;
	top: 0;
	display: block;
	border-top: solid 1px rgba(255, 255, 255, 1.0);
	}
#home-content-inner-wrapper:after {
	content: " ";
	position: absolute;
	width: 100%;
	bottom: 0;
	display: block;
	border-bottom: solid 1px rgba(255, 255, 255, 1.0);
	}
/* HOME PAGE BOXES */
section#home-content{
	position: relative;
	}
section#home-content ul#home-content-boxes{
	list-style: none;
	list-style-type: none;
	width: 100%;
	display: block;
	}
section#home-content ul#home-content-boxes li{
	width: 30%;
	margin: 0 1.3% 0 0;
	display: inline-block;
	min-height: 300px;
	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: #666;
	position: relative;
	}
section#home-content ul#home-content-boxes li:nth-last-child(1){
	margin-right: 0;
	}
section#home-content ul#home-content-boxes li a{
	width: 40%;
	display: block;
	}
section#home-content ul#home-content-boxes li a img,
section#home-content ul#home-content-boxes li a .home-content-placeholder{
	display: block;
	width: 230px;
	width: auto;
	height: 140px;
	background: #c5c7d5;
	/* outline: solid 1px #dadada; */
	}
section#home-content ul#home-content-boxes li h3{
	font-size: 1.75em;
	margin: 0.35em 0 0.35em 0;
	font-family: "PT Sans";
	font-weight: bold;
	}
section#home-content ul#home-content-boxes li p{
	font-size: 0.95em;
	font-family: "PT Sans";
	font-weight: 200;
	}
section#home-content ul#home-content-boxes li p{
	font-size: 0.95em;
	font-family: "PT Sans";
	font-weight: 200;
	}
/* ALT CONTENT */
section#home-content ul#home-content-boxes.alt li{
	width: 62%;
	height: 200px;
	}
section#home-content ul#home-content-boxes.alt li a{
	width: 53%;
	}
section#home-content ul#home-content-boxes.alt li  .content-box-content{
	position: absolute;
	top: 0;
	left: 56%;
	}
section#home-content ul#home-content-boxes li  .content-box-content a.button{
	padding-right: 10px;
	}
section#home-content ul#home-content-boxes.alt li h3{
	margin-top: 0;
	}
section#home-content ul#home-content-boxes.alt li p{
	font-size: 1.05em;
	font-weight: 100;
	margin: 0.65em 0 0.65em 0;
	line-height: 1.35em;
	}
section#home-content ul#home-content-boxes.alt li a img{
	width: 100%;
	height: auto;
	}
#home-content-outer-wrapper #home-feed-box{
	width: 350px;
	min-height: 500px;
	background: #FFF;
	border: solid 1px rgba(0, 0, 0, 0.4);
	border-top: none;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	position: absolute;
	top: -45px;
	right: 0;
	z-index: 10;
	}
#home-content-outer-wrapper #home-feed-box-border-top{
	width: 352px;
	/* border-top: solid 8px rgba(162, 29, 33, 1.0); */
	position: absolute;
	top: -53px;
	right: 0;
	height: 8px;
	background: rgba(162, 29, 33, 1.0);
	z-index: 15;
	}
#home-content-outer-wrapper #home-feed-box h3{
	font-size: 1.75em;
	margin: 0.45em 0.5em 0.35em 0.45em;
	padding: 0 0 0.3em 0;
	font-family: "PT Sans";
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: #444;
	letter-spacing: 0.1em;
	border-bottom: solid 1px #ababab;
	}
#home-content-outer-wrapper #home-feed-box h3 a{
	font-weight: 100;
	color: #444;
	}
#home-content-outer-wrapper #home-feed-box h3 a:hover{
	color: #990000;
	}
#home-content-outer-wrapper #home-feed-box #follow-button{
	position: relative;
	top: -15px;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	margin: 0 20px 0 15px;
	min-height: 330px;
	height: 380px;
	overflow: scroll;
	width: 325px;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed li{
	margin: 0 0 1.5em 0;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed li span{
	display: block;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed li .date{
	font-family: "PT Sans";
	font-weight: normal;
	font-size: 0.8em;
	color: #999;
	margin: 0 0 0.3em 0;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed li a{
	font-family: "PT Sans";
	color: #990000;
	padding: 0;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed li a:hover{
	text-decoration: underline;
	}
#home-content-outer-wrapper #home-feed-box ul.kuali-news-feed li span.teaser{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 0.92em;
	font-size: 0.85em;
	color: #777;
	margin: 0.35em 0 0 0;
	}
#home-content-outer-wrapper #home-feed-box #home-feed-news .item-list{
	position: relative;
	border-top: solid 1px #c8c8c8;
	padding: 0 0.5em 0 0.5em;
	font-size: 0.9em;
	}
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager{
	position: absolute;
	left: 10px;
	top: 0.5em;
	margin: 0;
	padding: 0;
	}
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager li.pager-first,
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager li.pager-previous,
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager li.pager-next,
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager li.pager-last{
	display: none;
	}
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager li a,
#home-content-outer-wrapper #home-feed-box #home-feed-news ul.pager li.pager-current{
	padding: 2px;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch{
	position: absolute;
	bottom: 0;
	width: 100%;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	display: inline;
	width: 100%;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li{
	float: left;
	width: 49.85%;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a{
	border-top: solid 1px #ababab;
	position: relative;
	padding-left: 48px;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a .icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	background-image: url(../images/home-feed-box-icon.png);
	background-repeat: no-repeat;
	background-size: 80px auto;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a#news .icon{
	background-position: bottom right;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a#news.active .icon{
	background-position: bottom left;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a#twitter .icon{
	background-position: top right;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a#twitter.active .icon{
	background-position: top left;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li:nth-last-child(1){
	border-left: solid 1px #ababab;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch a{
	margin: 0;
	padding: 0.5em 0 0.5em 0.35em;
	background: #EFEFEF;
	color: rgba(162, 29, 33, 1.0);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 1.3em;
	color: #777;
	display: block;
	/*
	transition: all 0.3s ease-in-out;
	*/
	}
#home-content-outer-wrapper #home-feed-box #feed-switch a:hover{
	background: #e0e0e0;
	/*
	transition: all 0.3s ease-in-out;
	*/
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a.active{
	border-top: none;
	}
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a.active,
#home-content-outer-wrapper #home-feed-box #feed-switch ul li a.active:hover{
	background: #FFF;
	color: rgba(162, 29, 33, 1.0);
	}