  .gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #ffffff;
    background-color: #ffffff;
    padding:0;
  }
  .gsc-control-cse .gsc-table-result {
    font-family: Arial, sans-serif;
  }
 form.gsc-search-box table.gsc-search-box tbody tr td.gsc-input {
      padding-right:5px;
  }
  #searchrefine table.gsc-search-box td.gsc-input {
      padding:12px
  }
 td.gsc-input input.gsc-input {
    /*border: #bbb 1px solid;*/
    border: none;
    position:relative;
    left:4px;
    width:136px;
  }
  #searchrefine input.gsc-input {
    position:relative;
    left:0px;
    width:100%;
    border: 1px #bbb solid;
  }
  .gsc-clear-button {
    display:none;
  }
  td.gsc-search-button {
    position:relative;
    height:25px;
    width:44px !important;
    min-width:1px;
  }
  td.gsc-search-button input.gsc-search-button {
    position:relative;
    left:0;
    top:0;
    color:transparent;
    border: none;
    background: url('../img/css/go.gif') no-repeat;
    font-size:.000000000001em;
    min-width:1px;
    width:36px;
    height:23px;
  }
 #searchrefine input.gsc-search-button {
    position:relative;
    left:4px;
    top:1px;
    color:transparent;
    border: none;
    background: url('../img/css/go.gif') no-repeat;
    font-size:.000000000001em;
    min-width:1px;
    width:36px;
    height:23px;
  }
  .gsc-tabHeader.gsc-tabhInactive {
    border-color: #E9E9E9;
    background-color: #E9E9E9;
  }
  .gsc-tabHeader.gsc-tabhActive {
    border-top-color: #ffffff;
    border-left-color: #E9E9E9;
    border-right-color: #E9E9E9;
    background-color: #FFFFFF;
  }
  .gsc-tabsArea {
    border-color: #E9E9E9;
  }
  .gsc-webResult.gsc-result,
  .gsc-results .gsc-imageResult {
    border-color: #ffffff;
    background-color: #ffffff;
  }
  .gsc-webResult.gsc-result:hover,
  .gsc-imageResult:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gsc-webResult.gsc-result.gsc-promotion:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b,
  .gs-imageResult a.gs-title:link,
  .gs-imageResult a.gs-title:link b {
    color: #990000;
  }
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b {
    color: #990000;
  }
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b,
  .gs-imageResult a.gs-title:hover,
  .gs-imageResult a.gs-title:hover b {
    color: #990000;
  }
  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b,
  .gs-imageResult a.gs-title:active,
  .gs-imageResult a.gs-title:active b {
    color: #990000;
  }
  .gsc-cursor-page {
    color: #990000;
  }
  a.gsc-trailing-more-results:link {
    color: #990000;
  }
  .gs-webResult .gs-snippet,
  .gs-imageResult .gs-snippet,
  .gs-fileFormatType {
    color: #000000;
  }
  .gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl {
    color: #444;
  }
  .gs-webResult div.gs-visibleUrl-short {
    color: #990000;
  }
  .gs-webResult div.gs-visibleUrl-short {
    display: none;
  }
  .gs-webResult div.gs-visibleUrl-long {
    display: block;
  }
  .gs-promotion div.gs-visibleUrl-short {
    display: none;
  }
  .gs-promotion div.gs-visibleUrl-long {
    display: block;
  }
  .gsc-cursor-box {
    border-color: #ffffff;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #E9E9E9;
    background-color: #ffffff;
    color: #990000;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    background-color: #FFFFFF;
    color: #990000;
  }
  .gsc-webResult.gsc-result.gsc-promotion {
    border-color: #7d110c;
    background-color: #EDEADC;
  }
  table.gsc-completion-container {
      margin-top:10px;
  }
  .gsc-completion-title {
    color: #990000;
  }
  .gsc-completion-snippet {
    color: #000000;
  }
  .gs-promotion a.gs-title:link,
  .gs-promotion a.gs-title:link *,
  .gs-promotion .gs-snippet a:link {
    color: #990000;
  }
  .gs-promotion a.gs-title:visited,
  .gs-promotion a.gs-title:visited *,
  .gs-promotion .gs-snippet a:visited {
    color: #990000;
  }
  .gs-promotion a.gs-title:hover,
  .gs-promotion a.gs-title:hover *,
  .gs-promotion .gs-snippet a:hover {
    color: #990000;
  }
  .gs-promotion a.gs-title:active,
  .gs-promotion a.gs-title:active *,
  .gs-promotion .gs-snippet a:active {
    color: #990000;
  }
  .gs-promotion .gs-snippet,
  .gs-promotion .gs-title .gs-promotion-title-right,
  .gs-promotion .gs-title .gs-promotion-title-right *  {
    color: #000000;
  }
  .gs-promotion .gs-visibleUrl,
  .gs-promotion .gs-visibleUrl-short {
    color: #444;
  }
/*img.gsc-branding-img, img.gsc-branding-img-noclear, img.gcsc-branding-img, img.gcsc-branding-img-noclear {
    visibility:hidden !important;
    }
table.gsc-branding td, table.gsc-branding, table.gcsc-branding td, table.gcsc-branding {
    visibility:hidden !important;
    }*/
  
 td.gsc-branding-text, td.gcsc-branding-text {
     line-height:1.0em;
     }   
    