/**
 * TRAINING SCHEDULE TABLE STYLES
 */
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer{
	border-collapse: collapse;
	border: none;
	border: 1px solid #999999;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer th{
	background-color: #d4d5de;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer tr.view-row td{
	border-collapse: separate;
	border: none;
	border: 0px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer tr.view-row td.no-border-bottom{
	border-bottom: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner tr td,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner tr th{
	border-collapse: separate;
	border: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner tr th{
	background-color: #e9e9e9;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner tr th,
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner tr td{
	border-left: 1px solid #999999;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content table.training-outer table.training-inner tr td{
	border-top: 1px solid #999999;
	background-color: #F4F4F4;
	}
/**
 * PAGE-TOP SMALL SECTION NAVIGATION
 */
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul{
	list-style: none;
	list-style-type: none;
	margin: 15px 0 0 0;
	padding: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul:after{
	content: "";
	display: table;
	clear: both;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul li{
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul li a{
	display: block;
	border: solid 1px #cecece;
	border-right: none;
	padding: 0.35em 0.95em 0.35em 0.95em;
	font-size: 1.3em;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul li a:hover{
	background: rgb(255,255,255);
	text-decoration: none;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul li a.active-trail{
	color: rgb(255,255,255);
	background: rgb(102,102,102);
	background: -moz-linear-gradient(top,  rgba(102,102,102,1) 0%, rgba(59,59,59,1) 3%, rgba(78,78,78,1) 11%, rgba(87,87,87,1) 17%, rgba(96,96,96,1) 28%, rgba(116,116,116,1) 78%, rgba(114,114,114,1) 83%, rgba(108,108,108,1) 89%, rgba(101,101,101,1) 92%, rgba(102,102,102,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,1)), color-stop(3%,rgba(59,59,59,1)), color-stop(11%,rgba(78,78,78,1)), color-stop(17%,rgba(87,87,87,1)), color-stop(28%,rgba(96,96,96,1)), color-stop(78%,rgba(116,116,116,1)), color-stop(83%,rgba(114,114,114,1)), color-stop(89%,rgba(108,108,108,1)), color-stop(92%,rgba(101,101,101,1)), color-stop(100%,rgba(102,102,102,1)));
	background: -webkit-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(59,59,59,1) 3%,rgba(78,78,78,1) 11%,rgba(87,87,87,1) 17%,rgba(96,96,96,1) 28%,rgba(116,116,116,1) 78%,rgba(114,114,114,1) 83%,rgba(108,108,108,1) 89%,rgba(101,101,101,1) 92%,rgba(102,102,102,1) 100%);
	background: -o-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(59,59,59,1) 3%,rgba(78,78,78,1) 11%,rgba(87,87,87,1) 17%,rgba(96,96,96,1) 28%,rgba(116,116,116,1) 78%,rgba(114,114,114,1) 83%,rgba(108,108,108,1) 89%,rgba(101,101,101,1) 92%,rgba(102,102,102,1) 100%);
	background: -ms-linear-gradient(top,  rgba(102,102,102,1) 0%,rgba(59,59,59,1) 3%,rgba(78,78,78,1) 11%,rgba(87,87,87,1) 17%,rgba(96,96,96,1) 28%,rgba(116,116,116,1) 78%,rgba(114,114,114,1) 83%,rgba(108,108,108,1) 89%,rgba(101,101,101,1) 92%,rgba(102,102,102,1) 100%);
	background: linear-gradient(to bottom,  rgba(102,102,102,1) 0%,rgba(59,59,59,1) 3%,rgba(78,78,78,1) 11%,rgba(87,87,87,1) 17%,rgba(96,96,96,1) 28%,rgba(116,116,116,1) 78%,rgba(114,114,114,1) 83%,rgba(108,108,108,1) 89%,rgba(101,101,101,1) 92%,rgba(102,102,102,1) 100%);
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul li.first a{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}
#content-outer-wrapper #content-inner-wrapper #content-block #content .menu-block-13 ul li.last a{
	border-right: solid 1px #cecece;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}
/**
 *  CHOICE CAMPAIGN STYLES
 */
body.page-node-413 #content-outer-wrapper #content-inner-wrapper #title-block h1{
	background-color: #e2e2e2;
	margin: 18px 0 0.5em 0;
	margin: 18px 0 0 0;
	color: #222;	
	line-height: normal;
	text-shadow: 0 -5px 15px #FFF;
	border: solid 8px #FFF;
	-moz-box-shadow: 0 0 5px 2px #CECECE;
	-webkit-box-shadow: 0 0 5px 2px #CECECE;
	box-shadow: 0 0 5px 1px #CECECE;
	position: relative;
	z-index: 1800;
	display: block;
	font-family: 'SentinelBlack','ChunkFive','Georgia',serif;
	font-weight: 500;
	font-size: 3.52em;
	padding: 10px 0 7px 15px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	text-shadow: 0 -5px 15px rgba(0,0,0,0.4);
	color: #FFF;
	max-height: 130px;
	font-family: "Helvetica Neue",Helvetica,Calibri,Arial,clean,sans-serif;
	font-weight: 200;
	padding: 110px 0 0 15px;
	line-height: 0.75;
	font-variant: small-caps;
	
	background-image: url(../images/choice_title_csu.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	
	
	font-family: 'GothamMedium',"Helvetica Neue",Helvetica,Calibri,Arial,clean,sans-serif;
	font-weight: 100;
	font-variant: normal;
	text-transform: uppercase;
	line-height: 0.6;
	font-size: 2.25em;
	}
header #alert-banner-wrapper{
	width: 95px;
	height: 105px;
	display: block;
	position: absolute;
	top: 111px;
	right: 0;
	z-index: 20;
	}
header #alert-banner-wrapper #alert-banner a{
	width: 95px;
	height: 105px;
	display: block;
	/* background set in alert content block */
	}
header #alert-banner-wrapper #alert-banner a span{
	display: none;
	}