/*
 * SUBTHEME CSS
 * 
 * Maintain the subtheme CSS file -- just in case, but clear it out for now.
 * The site currently has no subtheme capability.
 *
 */
#header-wrapper #header-content #tagline{
	display: none;
	}
#header-wrapper #header-content #nav{
	display: none;
	}
#header-wrapper{
	width: auto;
	width: 100%;
	height: 160px;
	height: 90px;
	background: #730005;
	border-bottom: solid 1px #550004;
	-moz-box-shadow:  0 0 4px 5px #333;
	-webkit-box-shadow: 0 0 4px 5px #333;
	box-shadow: 0 0 4px 5px #333;
	position: fixed;
	/* z-index:  1000 !important; */
	z-index:  500 !important;
	margin: 0;
	padding: 0;
	}
#header-wrapper #header-inner-wrapper{
	width: 100%;
	height: 160px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index:  1000;
	background-image: url(../images/header-background.png);
	background-position: 45% 50%;
	background-repeat:  no-repeat;
	z-index:  1100;
	}
#header-wrapper #header-content{
	height: 90px;
	}
#header-wrapper #header-content #about-wrapper:hover{
	height: 65px;
	}
#header-wrapper #header-content #about-wrapper:hover #about-inner-wrapper{
	height: 60px;
	}
#header-wrapper #header-content #about-wrapper:hover #about-inner-wrapper #about-tagline a{
	cursor: hand;
	}
#header-wrapper #header-content #about-wrapper #about-inner-wrapper a{
	cursor: pointer;
	}
#header-wrapper #header-content #about-wrapper #kuali-subtheme{
	display: block;
	}
#header-wrapper #header-content #about-wrapper #kuali-subtheme span.kuali,
#header-wrapper #header-content #about-wrapper #kuali-subtheme span.about{
	position: relative;
	left: -5px;
	top: 3px;
	}
#header-wrapper #header-content #about-wrapper #kuali-subtheme span.about{
	left: -4px;
	}
#header-wrapper #header-content #about-wrapper #kuali-main{
	display: none;
	}
#content-outer-wrapper #content-inner-wrapper{
	padding: 12.25em 0 0 0;
	padding: 10px 0 0 0;
	}
#content-outer-wrapper #section-banner-bg{
	height: 300px;
	}
#content-outer-wrapper #content-inner-wrapper #title-block-section-header-shadow{
	height: 37px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: url(../images/section-header-shadow.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	z-index: 10;
	top: 290px;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb{
	position: static;
	}
#content-outer-wrapper #content-inner-wrapper #breadcrumb-spacer{
	padding-top: 0;
	}
/**
 * NEW STYLES
 */
#subtheme-banner-wrapper{
	height: 200px;
	width: auto;
	border-bottom: solid 1px #444;
	}
#subtheme-banner-wrapper #subtheme-banner{
	width: auto;
	min-width: 973px;
	height: 200px;
	margin: 0 auto;
	overflow: visible;
	background-repeat: no-repeat;
	background-position: center;
	}
#subtheme-banner-wrapper #subtheme-banner a.subtheme-home{
	display: block;
	width: auto;
	min-width: 970px;
	margin: 0 auto;
	height: 200px;
	border: none;
	text-decoration: none;
	}
#subtheme-banner-wrapper #subtheme-banner a.subtheme-home span{
	display: none;
	}